<%- include("partials/header") %>

<%- include("partials/navbar") %>

<section class="about">

    <div class="about-card" style="text-align:center;">

        <h1 style="font-size:80px; color:#ff914d;">

            404

        </h1>

        <h2>

            <%= message %>

        </h2>

        <br>

        <a href="/" class="btn">

            Home

        </a>

        <a href="/breeds" class="btn">

            Browse Cats

        </a>

    </div>

</section>

<%- include("partials/footer") %>